/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap'); 

body, html {
	height: 100%;
	margin: 0;
  }

.App { 
	width: 100%; 
	height: 100vh; 
	display: flex; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: center; 
} 

h1 { 
	font-family: 'Lobster', cursive; 
	font-size: 50px; 
	color: #4644f0; 
} 

.draw-area { 
	width: 1280px; 
	height: 720px; 
	border: 2px solid #808080; 
	position: relative; 
	background-color: white; 
} 

.Menu { 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 350px;
	background-color: #f9f9f9;
}

.edit {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
	width: 400px;
	background-color: #f9f9f9;
  }
  
  .color-picker,
  .rotation-controls,
  .size-controls,
  .delete-button {
	display: flex;
	align-items: center;
	gap: 5px;
  }
  
  .rotation-controls input,
  .size-controls input {
	width: 50px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  button {
	padding: 5px 10px;
	border: none;
	border-radius: 4px;
	background-color: #007bff;
	color: white;
	cursor: pointer;
  }

  button:hover {
	background-color: #0056b3;
  }

  .move-controls {
	margin-top: 10px;
  }
  
  .move-controls label {
	margin-right: 10px;
  }
  
  .move-controls input {
	width: 40px;
	margin-right: 10px;
  }
  
  .move-controls button {
	margin-right: 10px;
  }

  .login-container {
	width: 100%;
	height: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f9f9f9;
  }
  
  .login-form {
	max-width: 400px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
  }
  
  .login-form h2 {
	text-align: center;
	margin-bottom: 20px;
  }
  
  .form-group {
	margin-bottom: 15px;
  }
  
  .form-group label {
	display: block;
	margin-bottom: 5px;
  }
  
  .form-group input {
	padding: 8px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  login_button {
	width: 100%;
	padding: 8px;
	font-size: 16px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #0056b3;
  }
  
  p {
	margin-top: 15px;
	text-align: center;
  }
  
  p a {
	color: #007bff;
	text-decoration: none;
  }
  
  p a:hover {
	text-decoration: underline;
  }